<div style="padding: 20px; text-align: center;">
    <h2>About Me</h2>
    <img
      src="WhatsApp Image 2025-10-10 at 11.16.41.jpeg"
      alt="Foto de perfil"
      style="border-radius: 50%; width: 150px; height: 150px; margin-bottom: 10px;"
    />
    <p>Soy un desarrollador entusiasta aprendiendo Angular 🚀</p>
  
    <div style="margin-top: 10px;">
      <a href="https://github.com/Mariogarluu" target="_blank">GitHub</a> |
      <a href="https://www.linkedin.com/in/mario-garcia-luque/" target="_blank">LinkedIn</a> |
    </div>
  </div>
  